
<h1>Editar Status</h1>
<form action="{{ action }}" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="PUT">
    Nome:<br>
    <input type="text" name="name" class="form-control" value="{{ status.name }}" required><br>
    Código:<br>
    <input type="text" name="code" class="form-control" value="{{ status.code }}" required><br>
    <input type="submit" class="btn btn-success" value="Salvar">
</form>
<a href="/statuss" class="btn btn-default">Voltar</a>