
<h1>Status</h1>
<a href="/status/new">Adicionar Status</a>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Código</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {{#each status }}
            <tr>
                <td>{{ this.name }}</td>
                <td>{{ this.code }}</td>
                <td><a href="/status/{{ this._id }}">Detalhes</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>