<div id="output" class="content markdown-body col-md-12">

<p>Aplicação web para o teste da TCS.</p>

<p><img alt="nodei.co" src="https://nodei.co/npm/tcs-test.png?downloads=true&amp;downloadRank=true&amp;stars=true"></p>


<h2>Instalação</h2>

<p><code>npm install --save tcs-test</code></p>

<h2>Scripts</h2>

<ul><li><strong>npm run test</strong> : <code>echo "Error: no test specified" &amp;&amp; exit 1</code></li><li><strong>npm run dev</strong> : <code>nodemon server.js</code></li><li><strong>npm run start</strong> : <code>node server.js</code></li></ul>

<h2>Dependências</h2>

<p>Pacote | Versão | Dev
--- |:---:|:---:
<a href="https://www.npmjs.com/package/bootstrap">bootstrap</a> | ^4.1.3 | ✖
<a href="https://www.npmjs.com/package/ejs">ejs</a> | ^2.6.1 | ✖
<a href="https://www.npmjs.com/package/express">express</a> | ^4.16.3 | ✖
<a href="https://www.npmjs.com/package/express-handlebars">express-handlebars</a> | ^3.0.0 | ✖
<a href="https://www.npmjs.com/package/express-partial">express-partial</a> | ^0.1.0 | ✖
<a href="https://www.npmjs.com/package/handlebars">handlebars</a> | ^4.0.12 | ✖
<a href="https://www.npmjs.com/package/http-status-codes">http-status-codes</a> | ^1.3.0 | ✖
<a href="https://www.npmjs.com/package/jquery">jquery</a> | ^3.3.1 | ✖
<a href="https://www.npmjs.com/package/method-override">method-override</a> | ^3.0.0 | ✖
<a href="https://www.npmjs.com/package/mongoose">mongoose</a> | ^5.2.14 | ✖
<a href="https://www.npmjs.com/package/popper">popper</a> | ^1.0.1 | ✖
<a href="https://www.npmjs.com/package/popper.js">popper.js</a> | ^1.14.4 | ✖
<a href="https://www.npmjs.com/package/node-readme">node-readme</a> | ^0.1.9 | ✔
<a href="https://www.npmjs.com/package/nodemon">nodemon</a> | ^1.18.4 | ✔</p>

<h2>Autor</h2>

<p>Daniel Carmo.</p>

<h2>Licença</h2>

<ul><li><strong>ISC</strong> : http://opensource.org/licenses/ISC</li></ul>

<h2>Disponibilidade</h2>

<p>O link para se acessar o sistema é esse: <a href="https://frozen-escarpment-99456.herokuapp.com">teste-tcs-site</a>.</p>

<h2>Enunciado</h2>

<p>Um cliente solicita a construção de uma aplicação WEB para controlar o status de cada máquina do seu parque industrial. Cada máquina possui um nome, e sensores acoplados a cada máquina irão periodicamente enviar à aplicação construída o status de cada máquina (eventos de status). Esses eventos de status são enviados informando o código da máquina a que se referem e o código do status (valor numérico). Eles devem ser recebidos pela aplicação WEB e armazenados no banco de dados.</p>

<h2>Objetivo</h2>

<p>Esta aplicação tem como objetivo o monitoramento de estados de máquinas. Os requisitos são:</p>

<ul><li>O sistema deve permitir funcionalidade para cadastro, edição e exclusão de máquinas (campos da máquina: nome). [<strong>concluído</strong>]</li><li>O sistema deve permitir funcionalidade para cadastro, edição e exclusão de status (campos do status: código e nome). [<strong>concluído</strong>]</li><li>O sistema deve possuir uma tela inicial em que mestre a lista de todas as máquinas cadastradas, seus respectivos nomes e o seu status atual (o status atual é definido como o último evento de status recebido para aquela máquina). [<strong>concluído</strong>]</li><li>O sistema deve possuir um simulador que, a cada intervalo de tempo, gere um evento de status aleatório para cada máquina cadastrada no banco de dados (campos do evento: data e código do status).  [<strong>parcialmente concluído</strong>]</li><li>O sistema deve possuir funcionalidade para que o usuário configure a periodicidade com que os eventos aleatórios serão gerados.  [<strong>parcialmente concluído</strong>]</li></ul>

<h2>Funcionalidades</h2>

<p>O sistema possui duas vertentes (WEB e API). A vertente a ser documentada é a API (chamadas RESTFull). São elas:</p>

<h3>Status Logs</h3>

<p>Chamadas destinadas ao objeto de logs de estado. São elas:</p>

<h4>Create Status Log</h4>

<ul><li>Método: POST</li><li>url: /api/v1/status_log</li><li>Parâmetros: machineId(string, obrigatório), status(number, obrigatório), description(string, opcional)</li><li>Descrição: Chamado para o registro de um log. Devem ser passados o id da máquina à qual pertence o log e o seu código (previamente registrado no sistema WEB). Após a criação do log, o sistema ira alterar o estado da máquina caso seja diferente do último log a ser registrado antes deste.</li></ul>

<p>Response 200</p>

<blockquote><p>{ "<em>id": "5b9eebe67a7b2a481971f622",
    "machineId": "5b9eea2ef3dcb43e56583037",
    "status": "5b9eea21f3dcb43e56583035",
    "description": "Simulated Log.",
    "created</em>at": "2018-09-16T23:48:54.877Z" }</p></blockquote>

<p>Response 422</p>

<blockquote><p>{ "error": "Código de status inválido!" }</p></blockquote>

<h4>Simulate</h4>

<ul><li>Método: POST</li><li>url: /api/v1/status_log</li><li>Parâmetros: quantity(number, obrigatório)</li><li>Descrição: Chamada destinada para a simulação da coleta de logs. O parametro <code>quantity</code> deverá receber a quantidade de logs a serem registrados.</li></ul>

<p>Response 200</p>

<blockquote><p>{ "success": true }</p></blockquote>

<h2>Requisitos Não cumpridos</h2>

<p>Para ser feito o deploy da aplicação, foi escolhido a plataforma de computação em nuvem. Foi escolhido principalmente devido ao seu custo zero para projetos pequenos. Porém, a plataforma sem custos tem as suas limitações.</p>

<p>Foi pensada duas soluções para os dois últimos requisitos apresentados (simulação e configuração de periodicidade de simulação). São elas:</p>

<h3>Solução via JavaScript</h3>

<p>A primeira solução consiste em colocar um <em>script</em> no navegador de forma que, quando o usuário estivesse logado, requisições iriam ser feitas ao servidor de forma que os logs fossem gerados de tempos em tempos.</p>

<p>Essa chamada iria consultar o banco de forma a saber qual foi o tempo registrado de periodicidade e a data do último log registrado. </p>

<p>O problema desta solução está no fato de que se nenhum usuário estivesse com a página do navegador aberta, a simulação não seria feita. Sendo assim, optou-se por não implementá-la.</p>

<h3>Solução via crontab</h3>

<p>Crontab são tabelas de registro de atividades a serem executadas pelo servidor de tempos em tempos. Seria excelente para esta solução, uma vez que poderia se adicionar uma rotina para chamar a função de simulação de geração de logs.</p>

<p>A ideia seria parecida com a solução interior. Duas chamadas seriam feitas ao banco para consultar a periodicidade registrada e a data do último log armazenado. Assim, de tempos em tempos, a rotina de crontab iria realizar a solução enquanto o servidor estivesse ligado.</p>

<p>Porém, com a plataforma de <em>deploy</em> escolhida, não seria possível acessar a crontab do servidor da aplicação. Porém, ainda assim, a chamada foi feita e documentada a cima. É ela: <code>Simulate</code>.</p></div>