
<h1>Editar Máquina</h1>
<form action="{{ action }}" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="PUT">
    Nome:<br>
    <input type="text" name="name" value="{{ machine.name }}" required><br>
    Status:<br>
    <input type="radio" name="status" value="off" {{#if_eq machine.status 'off' }}checked{{/if_eq}}> Desligada<br>
    <input type="radio" name="status" value="available" {{#if_eq  machine.status 'available' }}checked{{/if_eq}}> Disponível<br>
    <input type="radio" name="status" value="busy" {{#if_eq  machine.status 'busy' }}checked{{/if_eq}}> Ocupada<br>
    <input type="radio" name="status" value="completed" {{#if_eq  machine.status 'completed' }}checked{{/if_eq}}> Tarefa Completada<br>
    <input type="submit" value="Submit">
</form>
<a href="/machines">Voltar</a>