
<h1>Máquinas</h1>
<a href="/machines/new">Adicionar Máquina</a>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {{#each machines }}
            <tr>
                <td>{{ this.name }}</td>
                <td>{{ this.status.code }} ({{this.status.name}})</td>
                <td><a href="/machines/{{ this._id }}">Detalhes</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>