
<h1>Nova Máquina</h1>
<form action="{{ action }}" method="POST" enctype="application/x-www-form-urlencoded">
    Nome:<br>
    <input type="text" name="name" class="form-control" value="{{ machine.name }}" required><br>
    Status:<br>
    {{#each status}}
        <input type="radio" name="status" value="{{this._id}}"> {{this.name}}<br>
    {{/each}}
    <input type="submit" class="btn btn-success" value="Criar">
</form>
<a href="/machines" class="btn btn-default">Voltar</a>