
Nome: {{ machine.name }}<br>
Status: {{ machine.status.code }} ({{machine.status.name}})<br>
<a href="/machines/{{ machine._id }}/edit">Editar</a><br>
<form action="/machines/{{ machine._id }}" method="POST" enctype="application/x-www-form-urlencoded" onsubmit="return confirm('Tem certeza que deseja deletar esta máquina?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Excluir">
</form>
<h3>Registro de Atividades</h3>
<table class="table">
    <thead>
        <th>Data</th>
        <th>Status</th>
        <th>Descrição</th>
    </thead>
    <tbody>
        {{#each machine.status_logs }}
            <tr>
                <td>{{ this.created_at }}</td>
                <td>{{ this.status }}</td>
                <td>{{ this.description }}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
<a href="/machines">Voltar</a>